#container {
    width: 100%;
    padding: 0;
}
    #container > .row {
        margin: 0px;
    }
    .navbar {
        margin: 0;
        /*border: 2px solid grey;*/
        border-radius: 0;
        background-image: none;
        background-color: #ff5;
    }
    .field {
        border: 1px solid grey;
        /*padding: 0px;*/
    }
    .left-field {
        height: 860px;
        background-color: #aaf;
    }
        .customer-icon{
            position: absolute;
            top: 200px;
            left: 30px;
        }
            .customer-icon span {
                position: absolute;
                width: 100px;
                top: -50px;
                left: 80px;
            }
    .main-field {
        height: 650px;
    }
    .customer-field {
        position: relative;
        height: 210px;
    }
        .tabs {
            position: absolute;
            top: -31px;
            display: inline-flex;
        }
            .tabs button {
                background-color: greenyellow;
                width: 90px;
                height: 30px;
                border: solid 1px grey;
            }
            .tabs button.active {
                background-color: darkgreen;
            }
