#container {
    width: 100%;
    padding: 0;
}
    #container > .row {
        margin: 0px;
    }
    .navbar {
        margin: 0;
        /*border: 2px solid grey;*/
        border-radius: 0;
        background-image: none;
        background-color: #ff5;
    }
    .field {
        /*border: 1px solid grey;*/
        /*padding: 0px;*/
    }
    .left-field {
        height: 860px;
        background-color: #aaf;
    }
        .customer-icon{
            position: relative;
        }
        .customer-icon.active{
            border: dotted 2px palegreen;
        }
            .customer-icon span {
                position: absolute;
                width: 100px;
                top: 65px;
                left: 80px;
                background-color: bisque;
            }
    .main-field {
        height: 650px;
    }
    .customer-field {
        position: relative;
        height: 210px;
        background-color: aliceblue;
    }
        .tabs {
            position: absolute;
            top: -29px;
            display: inline-flex;
        }
            .tabs button {
                background-color: lightgrey;
                width: 90px;
                height: 30px;
                border: solid 1px grey;
                border-radius: 15px 15px 0px 0px;
                font-size: 11px;
            }
            .tabs button.active {
                background-color: aliceblue;
                border-bottom: 0px;
                background-color: aliceblue;
            }
