body {
    width: 98.6vw;
    height: 98.6vh;
}

#container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
    #container > .row {
        height: 100%;
        margin: 0px;
    }
        #container  > .row > .col-xs-10 {
            padding: 0;
            height: 100%;
        }
    .statistics {
        height: 5%;
        background-color: #ff5;
    }
    .left-field {
        height: 100%;
        background-color: #aaf;
    }
        .customer-icon{
            position: relative;
        }
        .customer-icon.active{
            border: dotted 2px palegreen;
        }
            .customer-icon span {
                position: absolute;
                width: 100px;
                top: 65px;
                left: 80px;
                background-color: bisque;
            }


    .main-field {
        background-image: url('../data/img/bezmyatezhnost.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 95%;
    }
        .muse{
            
        }

    .customer-field {
        position: relative;
        height: 210px;
        background-color: aliceblue;
    }
        .tabs {
            position: absolute;
            top: -29px;
            display: inline-flex;
        }
            .tabs button {
                background-color: lightgrey;
                width: 90px;
                height: 30px;
                border: solid 1px grey;
                border-radius: 15px 15px 0px 0px;
                font-size: 11px;
            }
            .tabs button.active {
                background-color: aliceblue;
                border-bottom: 0px;
                background-color: aliceblue;
            }
        .progress {
            margin-top: 30px;
        }
        .progress-bar {
            transition: none;
        }
